.container-login{
    width: 100%;
    max-width: 500px;
    background-color: var(--secondary-background-color);
    border: 1px solid var(--gray);
    border-radius: 20px;
    padding: 25px 50px;
    box-sizing: border-box;

    .input {
        background-color: var(--tertiary-background-color);
    }
}

.form-login{
    width: 100%;
}