:root {
    --background-color: #000000;
    --secondary-background-color: #0D0D0E;
    --tertiary-background-color: #1A1A1B;
    --primary: #6FA8B6;
    --title-color: #FFFEF6;
    --text-color: #D6D3C2;
    --yellow: #FFA600;
    --light-yellow: #FFEA72;
    --light-red: #FF9A9A;
    --dark-red: #53000062;
    --light-green: #A9FFA9;
    --dark-green: #002F00;
    --light-blue: #5FBCFF;
    --dark-blue: #19334651;
    --gray: #303134;
}

/* Tema escuro */
[data-theme="light"] {
    --background-color: #2c3e50;
}