:root {
    --background-color: #0F0F0F;
    --secondary-background-color: #171717;
    --primary: #6FA8B6;
    --title-color: #FFFEF6;
    --text-color: #D6D3C2;
    --yellow: #FFA600;
    --light-yellow: #FFEA72;
    --light-red: #FF9A9A;
    --dark-red: #530000;
    --light-green: #A9FFA9;
    --dark-green: #002F00;
    --light-blue: #5FBCFF;
    --dark-blue: #193346;
}

/* Tema escuro */
[data-theme="light"] {
    --background-color: #2c3e50;
}