.personal-img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

@media screen and (max-width: 800px) {
    .personal-info {
        flex-wrap: wrap;
        justify-content: center;
    }
}