/* NAVBAR */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    z-index: 900;
    pointer-events: none;
}

.navbar {
    width: fit-content;
    background-color: var(--secondary-background-color);
    border: 1px solid var(--gray);
    border-radius: 100px;
    padding: 25px;
    pointer-events: auto;
}

.navbar-logo {
    width: 60px;
}

.nav-item {
    list-style: none;
    cursor: pointer;
    color: var(--title-color);
    transition: 0.2s;
    padding: 8px 16px;
    border-radius: 20px;
}

.nav-item:hover {
    color: var(--primary);
    background-color: var(--tertiary-background-color);
}

.nav-item.active {
    color: var(--primary);
    background-color: var(--tertiary-background-color);
    box-shadow: 0 0 10px rgba(205, 252, 144, 0.3);
}

.mobile-nav {
    display: none;
}

.pass-section {
    width: fit-content;
    background-color: transparent;
    border: none;
    color: var(--title-color);
}

/* HOME */

.home {
    width: 100%;
}

.home p {
    max-width: 800px;
}

.socials {
    width: fit-content;
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 100px;
    background-color: var(--secondary-background-color);
}

.cape-image {
    width: 400px;
    height: 400px;
}

.perfil-image-container {
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: var(--secondary-background-color);
    border: 1px solid var(--gray);
    background-size: cover;
    border-radius: 50%;
}



.perfil-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* PERFIL */

.perfil {
    width: 100%;
}

/* SKILLS */

.skills {
    width: 100%;
}

.skills-container {
    width: 100%;
    justify-content: flex-start;
}

.skill-container {
    width: 100%;
    justify-content: flex-start;
}

/* CONTACT */

.contact-container {
    width: 100%;
    box-sizing: border-box;
}

.contact-container form {
    width: 100%;
    max-width: 500px;
}


@media screen and (max-width: 830px) {

    /* NAVBAR */

    .header {
        padding: 10px;
    }

    .navbar{
        width: 100%;
        justify-content: space-between;
    }
    .mobile-nav {
        display: flex;
    }

    .desktop-nav {
        display: none;
    }

    .home {
        flex-direction: column-reverse;
    }

    .perfil {
        flex-direction: column;
    }

    .perfil-image-container, .perfil-image, .cape-image {
        width: 200px;
        height: 200px;
    }

    .texts {
        max-width: 100%;
    }

    .skills-container {
        flex-direction: column;

        hr {
            display: none;
        }
    }


}


@media screen and (min-width: 831px) and (max-width: 1024px) {
    
    .perfil-image-container, .perfil-image, .cape-image {
        width: 300px;
        height: 300px;
    }

    .texts {
        max-width: 70%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
    
}